<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 在这个文件放置一些全局性的配置 -->
    <typeAliases>
        <typeAlias alias="user"      type="com.qinrenzaixian.web.domain.UserDo"/>
        <typeAlias alias="addresses" type="com.qinrenzaixian.web.domain.AddressDo"/>
        <typeAlias alias="city" type="com.qinrenzaixian.web.domain.CityDo"/>
        <typeAlias alias="publicmessageaddr" type="com.qinrenzaixian.web.domain.PublicMessageAddrDo"/>
        <typeAlias alias="publicmessage" type="com.qinrenzaixian.web.domain.PublicMessageDo"/>
        <typeAlias alias="publicmessagepic" type="com.qinrenzaixian.web.domain.PublicMessagePicDo"/>
        <typeAlias alias="pictrue" type="com.qinrenzaixian.web.domain.PictrueDo"/>
    </typeAliases>
        
</configuration>