<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Address">
    <resultMap  id="address-rm" type="addresses">
    	  <id property="id" column="id"/>
    	  <result property="userId" column="user_id" />
    	  <result property="countryId" column="country_id" />
    	  <result property="provinceId" column="province_id" />
    	  <result property="cityId" column="city_id" />
    	  <result property="districtId" column="district_id" />
    	  <result property="address" column="address" />
    	  <result property="zipCode" column="zip_code" />
    	  <result property="contact" column="contact" />
    	  <result property="mobilePhone" column="mobile_phone" />
    	  <result property="zone" column="zone" />
    	  <result property="phoneNumber" column="phone_number" />
    	  <result property="extNumber" column="ext_number" />
          <result property="createTime" column="createtime" />
    	  <result property="creater" column="creater" />
    	  <result property="updateTime" column="updatetime" />
    	  <result property="updater" column="updater" />
    	  <result property="delflag" column="delflag" />
    	  <result property="status" column="status" />
    </resultMap>
    <!-- 查询地址 -->
	<select id="findAddressById" parameterType="java.lang.Long"  resultMap="address-rm">
	   select id ,  user_id ,
	   `country_id`,`province_id`,`city_id` ,`district_id`,
	   `address`, `zip_code`,`contact`,
	   `mobile_phone`,`zone`,`phone_number` ,`ext_number`,
	   `createtime`,`creater` ,`updatetime`,`updater`,
	   `delflag`,`status`
	   from  addresses  where delflag =0 and id=#{id}
	</select>
	<!-- 新增地址 -->
	<insert  id="insertAddress"  parameterType="addresses" useGeneratedKeys="true" keyProperty="id" >
	   insert  into addresses  (
	   createtime
	   <if test="creater != null    ">  
            ,creater
       </if>  
	   <if test="userId != null    ">  
            ,user_id
       </if>  
       <if test="countryId != null  ">  
            ,country_id
       </if> 
       <if test="provinceId != null    ">  
            ,province_id
       </if> 
       <if test="cityId != null   ">  
            ,city_id
       </if> 
       <if test="districtId != null   ">  
            ,district_id
       </if> 
       <if test="address != null and  address != ''  ">  
            ,address
       </if> 
       <if test="zipCode != null and  zipCode != '' ">  
            ,zip_code
       </if> 
       <if test="contact != null  and  contact != '' ">  
            ,contact
       </if> 
       
       <if test="mobilePhone != null and  mobilePhone != ''   ">  
            ,mobile_phone
       </if> 
       <if test="zone != null   and  zone != '' ">  
            ,zone
       </if> 
       <if test="phoneNumber != null and  phoneNumber != '' ">  
            ,phone_number
       </if> 
       <if test="extNumber != null and  extNumber != ''  ">  
            ,ext_number
       </if> 
        ) values (
       SYSDATE()
       <if test="creater != null     ">  
            ,#{creater}
       </if>  
	   <if test="userId != null  ">  
            ,#{userId}
       </if>  
       <if test="countryId != null    ">  
            ,#{countryId}
       </if> 
       <if test="provinceId != null      ">  
            ,#{provinceId}
       </if> 
       <if test="cityId != null    ">  
            ,#{cityId}
       </if> 
       <if test="districtId != null  ">  
            ,#{districtId}
       </if> 
       <if test="address != null   and  address != ''">  
            ,#{address}
       </if> 
       <if test="zipCode != null   and  zipCode != ''">  
            ,#{zipCode}
       </if> 
       <if test="contact != null   and  contact != ''">  
            ,#{contact}
       </if> 
       
       <if test="mobilePhone != null  and  mobilePhone != '' ">  
            ,#{mobilePhone}
       </if> 
       <if test="zone != null  and  zone != '' ">  
            ,#{zone}
       </if> 
       <if test="phoneNumber != null and  phoneNumber != ''  ">  
            ,#{phoneNumber}
       </if> 
       <if test="extNumber != null and extNumber != ''  ">  
            ,#{extNumber}
       </if> )
	</insert>
	
	<!-- 修改地址 -->
	<update  id="updateAddress"  parameterType="addresses"  >
	  update addresses  set
        updatetime = SYSDATE() 
            ,updater =#{updater}
            ,user_id=#{userId}
            ,country_id=#{countryId}
            ,province_id=#{provinceId}
            ,city_id=#{cityId}
            ,district_id=#{districtId}
            ,address=#{address}
            ,zip_code=#{zipCode}
            ,contact=#{contact}
            ,mobile_phone=#{mobilePhone}
            ,zone=#{zone}
            ,phone_number=#{phoneNumber}
            ,ext_number=#{extNumber}
	  where delflag =0 and id = #{id}
	</update>
	
	<!-- 删除地址 -->
	<update  id="delAddress"  parameterType="addresses"  >
	  update addresses  set
        updatetime = SYSDATE() 
        <if test="updater != null  ">  
            ,updater =#{updater}
       </if>  
	   ,delflag=1
	  where delflag =0 and id = #{id}
	</update>
	
	<sql id="queryAddressListCondition">
      <if test="contact != null  and contact != '' ">  
           and contact like '%${contact}%'
       </if>
       <if test="phone != null   and phone != '' ">  
            and phone_number like '%${phone}%'
       </if> 
       <if test="mobile != null   and mobile != '' ">  
            and mobile_phone like '%${mobile}%'
       </if> 
        <if test="userId != null  ">  
            and user_id=#{userId}
       </if> 
	</sql>
	<!-- 查询用户地址列表 -->
	<select id="queryAddressList"  parameterType="com.qinrenzaixian.web.domain.AddressPagination" resultMap="address-rm">
	   select id ,  user_id ,
	   `country_id`,`province_id`,`city_id` ,`district_id`,
	   `address`, `zip_code`,`contact`,
	   `mobile_phone`,`zone`,`phone_number` ,`ext_number`,
	   `createtime`,`creater` ,`updatetime`,`updater`,
	   `delflag`,`status`
	   from  addresses  where delflag =0 
	   <include refid="queryAddressListCondition"></include>
	   order by id desc
	   limit #{start},#{pageSize}
	</select>
	
	<!-- 查询用户地址列表总数 -->
	<select id="queryAddressListCount"  parameterType="com.qinrenzaixian.web.domain.AddressPagination" resultType="java.lang.Integer">
	   select count(1)
	   from  addresses  where delflag =0 
	   <include refid="queryAddressListCondition"></include>
	</select>
</mapper>