<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="city">
    <resultMap  id="city-rm" type="city">
    	  <id property="id" column="id"/>
    	  <result property="parentId" column="parent_id" />
    	  <result property="name" column="name" />
    	  <result property="nameHk" column="name_hk" />
    	  <result property="nameEn" column="name_en" />
    	  <result property="namePy" column="name_py" />
    	  <result property="type" column="type" />
    	  <result property="area" column="area" />
    </resultMap>
    <!-- 查询城市-->
	<select id="findCityById" parameterType="java.lang.Long"  resultMap="city-rm">
	   select id ,  parent_id ,`name`,`name_hk`,`name_en` ,`name_py`,`type`, `area`
	   from  cities  where id=#{id}
	</select>
	
	<!-- 查询所有城市列表 -->
	<select id="queryCityList" resultMap="city-rm">
	  select id ,  parent_id ,`name`,`name_hk`,`name_en` ,`name_py`,`type`, `area`
	  from  cities 
	</select>
</mapper>